@model List<OrderServiceModel>

@using ASP.NET_Core_Project_Online_Shop.Data.Models
@using Microsoft.AspNetCore.Identity

@inject UserManager<User> UserManager
@inject ITradePartnerService TradePartners

@{ var userId = User.Id();
    var userIsTradePartner = TradePartners.IsTradePartner(userId); }

@{ ViewData["Title"] = "My Orders"; }


<h1 class="text-center">@ViewData["Title"]</h1>

    @if (userIsTradePartner)
    {
    <div class="row">
        <div class="col-8">
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>Order №</th>
                        <th>Product Name</th>
                        <th>Trade Partner Price</th>
                        <th>Product Quantity</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        foreach (var item in order.Products)
                        {
                                <tr>
                                    <td scope="col">@order.OrderId</td>
                                    <td scope="col">@item.ProductName</td>
                                    <td scope="col">@item.TradePartnerPrice BGN.</td>
                                    <td scope="col" class="text-center">@item.Quantity</td>
                                    <td scope="col" class="text-center">@item.TradePartnerTotalPrice BGN.</td>
                                </tr>
                        }
                     <tr>
                         <td></td>
                         <td></td>
                         <td></td>
                         <td>Order Total Amount:</td>
                         <td scope="col" class="text-center">@order.TradePartnerTotalAmount BGN.</td>
                     </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td scope="col">
                                <a class="btn btn-danger" asp-area="" asp-controller="Cart" asp-action="MyShoppingCart" asp-route-userId="@User.Id()">Go to Shopping Cart</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div> }
    else
    {
    <div class="row">
        <div class="col-8">
            <table class="table table-bordered text-center">
                <thead>
                    <tr>
                        <th>Order №</th>
                        <th>Product Name</th>
                        <th>Product Price</th>
                        <th>Product Quantity</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        foreach (var item in order.Products)
                        {
    <tr>
        <td scope="col">@order.OrderId</td>
        <td scope="col">@item.ProductName</td>
        <td scope="col">@item.Price BGN.</td>
        <td scope="col" class="text-center">@item.Quantity</td>
        <td scope="col" class="text-center">@item.TotalPrice BGN.</td>
    </tr>
                        }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Order Total Amount:</td>
        <td scope="col" class="text-center">@order.TotalAmount BGN.</td>
    </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td scope="col">
                                <a class="btn btn-danger" asp-area="" asp-controller="Cart" asp-action="MyShoppingCart" asp-route-userId="@User.Id()">Go to Shopping Cart</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    }

