@model ProductsDetailsServiceModel

@using ASP.NET_Core_Project_Online_Shop.Data.Models
@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject ITradePartnerService TradePartners

@if (SignInManager.IsSignedIn(User))
{
    var userId = User.Id();
    var userIsTradePartner = TradePartners.IsTradePartner(userId);

    if (userIsTradePartner)
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col"class="text-center text-danger">Image</th>
                    <th scope="col"class="text-center text-danger">Product Code</th>
                    <th scope="col"class="text-center text-danger">Product Name</th>
                    <th scope="col"class="text-center text-danger">Product Series</th>
                    <th scope="col"class="text-center text-danger">Trade Partner Price</th>
                    <th scope="col"class="text-center text-danger">Client Price</th>
                    <th scope="col"class="text-center text-danger">Take action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="col"><img width="50" height="50" src="@Model.ImageUrl" /></th>
                    <th scope="col">@Model.ProductCode</th>
                    <th scope="col">@Model.Name</th>
                    <th scope="col">@Model.Series</th>
                    <th scope="col">@Model.TradePartnerPrice</th>
                    <th scope="col">@Model.Price</th>
                    <th scope="col"><a asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@Model.Id" asp-route-userId="@User.Id() "class="text-black-50">Add To Shopping Cart</a> | 
                        <a asp-action="All" class="text-black-50">Back to List</a></th>
                </tr>
            </tbody>
        </table>  
    }
    else 
    { 
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col"class="text-center text-danger">Image</th>
                    <th scope="col"class="text-center text-danger">Product Code</th>
                    <th scope="col"class="text-center text-danger">Product Name</th>
                    <th scope="col"class="text-center text-danger">Product Series</th>
                    <th scope="col"class="text-center text-danger">Client Price</th>
                    <th scope="col"class="text-center text-danger">Take action</th>
                </tr>
            <tbody>
                <tr>
                    <th scope="col"><img width="50" height="50" src="@Model.ImageUrl" /></th>
                    <th scope="col">@Model.ProductCode</th>
                    <th scope="col">@Model.Name</th>
                    <th scope="col">@Model.Series</th>
                    <th scope="col">@Model.Price</th>
                    <th scope="col"><a asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@Model.Id" asp-route-userId="@User.Id()" class="text-black-50">Add To Shopping Cart</a> | <a asp-action="All" class="text-black-50">Back to List</a></th>
                </tr>
            </tbody>
        </table> 
    }
}

else
{
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col"class="text-center text-danger">Image</th>
            <th scope="col"class="text-center text-danger">Product Code</th>
            <th scope="col"class="text-center text-danger">Product Name</th>
            <th scope="col"class="text-center text-danger">Product Series</th>
            <th scope="col"class="text-center text-danger">Client Price</th>

        </tr>
    <tbody>
        <tr>
            <th scope="col"><img width="50" height="50" src="@Model.ImageUrl" /></th>
            <th scope="col">@Model.ProductCode</th>
            <th scope="col">@Model.Name</th>
            <th scope="col">@Model.Series</th>
            <th scope="col">@Model.Price</th>
    </tbody>
</table>

}


